.git
.gitattributes
.venv
.venv_yolo
.python*
.vscode
.tmp
.ultralytics_config
.matplotlib_config
__pycache__
*.pyc
*.pyo
*.pyd
*.log

archive_unused
frontend/node_modules
frontend/dist
node_modules
reports/localization
data/localization
data/raw
kaggle_yolo_core.zip

models/localization/yolo_nodule_py311_e8_img416
